@media (min-width: 1440px) {
    .home .container .img {
        height: 360px;
    }
    
}

@media (max-width: 1145px) {
    .services .container .slider .item:nth-child(3) {
        left: 60%;
    }
    
    .services .container .slider .item:nth-child(4) {
        left: calc(60% + 220px);
    }
    
    .services .container .slider .item:nth-child(5) {
        left: calc(60% + 440px);
        opacity: 0;
    }
    
    .services .container .slider .item:nth-child(n + 6) {
        left: calc(60% + 660px);
        opacity: 0;
    }

    .galeria .container .grid {
        grid-template-columns: repeat(2,1fr);
        height: 100%;
        
    }
}

@media (max-width: 1080px) {
    .services .container .slider .item:nth-child(3) {
        left: 60%;
    }
    
    .services .container .slider .item:nth-child(4) {
        left: calc(60% + 220px);
    }
    
    .services .container .slider .item:nth-child(5) {
        left: calc(60% + 440px);
        opacity: 0;
    }
    
    .services .container .slider .item:nth-child(n + 6) {
        left: calc(60% + 660px);
        opacity: 0;
    }
}

@media (max-width: 960px) {
    .home .container .info-home .info {
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .home .container .info-home .info .info-title h2 {
        width: 100%;
        text-align: center;
    }

    .home .container .info-home .info .info-text {
        width: 100%;
        text-align: center;
    }

    .contador .container .container-grid {
        grid-template-columns: repeat(2, 1fr);
    
    
    }
}

@media (max-width: 942px) {
    .services .container .slider .item:nth-child(3) {
        left: 80%;
    }
    
    .services .container .slider .item:nth-child(4) {
        left: calc(60% + 220px);
        opacity: 0;
    }

}

@media (max-width: 900px) {
    .contactos .container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .contactos .container .formulario {
        width: 80%;
    }

    .contactos .container .info-formulario {
        width: 90%;
    }

    .contactos .container .info-formulario .info-datos p a {
    justify-content: center;
    }

}


@media (max-width: 700px) {

    .services .container .slider .item {
        justify-content: center;
    }
    .services .container .slider .item:nth-child(3) {
        left: 80%;
        opacity: 0;
    }

    .services .container .slider .item .content {
        width: 400px;
        margin-left: 0;
        display: none;
        }
    
        .Cont-redes-grid {
            grid-template-columns: repeat(1, auto);
            align-items: center;
            justify-content: center;
            gap: 1em 2em;
        }
    
        .Tiktok {        
            grid-column: auto;
            border-radius: 15px;
        }
    
        .Face{
            min-height: 500px;
        }

}

@media (max-width: 840px) {
    .home .container .img {
        height: 350px;
        background-size: cover;
    }

    .galeria .container .grid {
        grid-template-columns: repeat(2,1fr);
        height: 100%;
        
    }
}

@media (max-width: 770px) {
    .about .container .info-about {
        flex-direction: column;
        width: 90%;
    }

    .about .container .info-about p {
        width: 100%;
        text-align: center;
    }

    .about .container .info-about span {
        width: 200px;
        height: 2px;
        
    }

    .footer .container .info-footer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 630px) {
    .galeria .container .grid {
        grid-template-columns: repeat(1,1fr);
        
        
    }

    /* Footer */
    .Footer {
        padding-top: 50px;
    }
    
    .Nav-footer {
        margin-top: 3%;
        flex-direction: column;
        border: none;
    }
    
    .Footer-logo {
        width:25%;
    }
    
    .Cont-3 {
        width: 100%;
        flex-direction: column;
        border: none;
        gap: 5%;
    }
    
    .Cards-foot {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .9rem;
    }
    
    .Footer-rrss {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
}


@media (max-width: 540px) {
    .home .container .info-home .info .info-title h2 {
        font-size: 1.8rem;
    }

    .home .container .info-home .info .info-text {
        width: 80%;
        
    }

    .contactos .container .formulario {
        width: 90%;
    }

}

@media (max-width: 500px) {
    .contador .container .container-grid {
        grid-template-columns: repeat(1, 1fr);
    
    
    }
}

@media (max-width: 450px) {


    .services .container .slider .item .content {
        width: 300px;

    }

    .services .container .slider .item .content .name {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }

    .services .container .slider .item .content .description {
        width: 100%;
        text-align: center;
    }

    


}



@media (max-width: 400px) {
    .home .container .info-home .info .info-title h2 {
        font-size: 1.5rem;
    }
}